.rdp {
  --rdp-cell-size: 30px;
  --rdp-caption-font-size: 14px;
  --rdp-accent-color: var(--sub-color1);
  --rdp-background-color: #d9d9d9;
  margin: 0em;
}

.rdp-table {
  font-size: 0.75rem;
  font-weight: normal;
}

.rdp-head_row th {
  font-size: 0.75rem;
  font-weight: bold;
}

.rdp-cell {
  padding: 1px;
}

.rdp-button[disabled]:not(.rdp-day_selected) {
  opacity: 1;
}

.rdp-day_selected,
.rdp-day_selected:focus-visible,
.rdp-day_selected:hover {
  color: white;
  opacity: 1;
  background-color: var(--sub-color1);
}

/* Custom Style*/
.saturday:not(.rdp-day_selected) {
  color: blue;
}
.sunday:not(.rdp-day_selected) {
  color: red;
}

.selectableDays {
  background-color: var(--rdp-background-color);
  color: white;
}

.schedule-selected-day,
.schedule-selected-day:focus-visible,
.schedule-selected-day:hover {
  color: white;
  opacity: 1;
  background-color: var(--main-color) !important;
}

.dayOff-selected-day,
.dayOff-selected-day:focus-visible,
.dayOff-selected-day:hover {
  color: white;
  opacity: 1;
  background-color: var(--sub-color1) !important;
}
/* range-cell  */
.range-cell {
  padding: 1px 0px;
}

.range-cell .saturday:not(.rdp-day_selected) {
  color: blue;
}

.range-cell .sunday:not(.rdp-day_selected) {
  color: red;
}

.range-cell .rdp-button[disabled]:not(.rdp-day_selected),
.rdp-day_outside {
  opacity: 0.5;
}
.rdp-day_range_middle {
  background: rgba(131, 56, 236, 0.5);
  border-radius: 0;
}

/* input class date */
.specific-selectable,
.class-input-selectable {
  background-color: var(--sub-color4);
  color: white;
}

.specific-class-day,
.specific-class-day:hover {
  background-color: black !important;
  color: white !important;
}

.specific-selected-day,
.specific-selected-day:hover {
  background-color: var(--main-color) !important;
  color: white !important;
}
