@tailwind base;
@tailwind components;
@tailwind utilities;

@import './reset.css';

:root {
  --max-width: 1440px;
  --main-color: #ff3e9a;
  --sub-color1: #8338ec;
  --sub-color2: #b6b6b6;
  --sub-color3: #414141;
  --sub-color4: #d9d9d9;
  --font-regular: 400;
  --font-bold: 700;
}

body {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}
