@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

:root {
  --max-tablet: 1300px;
  --max-desktop: 1440px;
  --main-color: #ff3e9a;
  --main-color-transparent: #ff3e9a1a;
  --sub-color1: #8338ec;
  --sub-color1-transparent: #8338ec1a;
  --sub-color2: #ff9e2d;
  --sub-color2-transparent: #ff961b1a;
  --sub-color3: #e92c2c;
  --sub-color3-transparent: #e92c2c1a;

  --gray1: #414141;
  --gray2: #969696;
  --gray3: #b6b6b6;
  --gray4: #d9d9d9;
  --gray5: #f5f5f5;
}

body {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

@keyframes shrink {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--gray3) #f5f5f5;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #f5f5f5;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--gray3);
  border-radius: 0.5rem;
}

.shadow-border {
  box-shadow:
    1px 0 0 0 var(--gray4),
    0 1px 0 0 var(--gray4),
    1px 1px 0 0 var(--gray4),
    1px 0 0 0 var(--gray4) inset,
    0 1px 0 0 var(--gray4) inset;
}

.select-shadow-border {
  box-shadow:
    1px 0 0 0 var(--sub-color1),
    0 1px 0 0 var(--sub-color1),
    1px 1px 0 0 var(--sub-color1),
    1px 0 0 0 var(--sub-color1) inset,
    0 1px 0 0 var(--sub-color1) inset;
  z-index: 0;
}

.speech-bubble {
  position: relative;
  background: white;
  border: solid 1px var(--sub-color1);
  border-radius: 0.4em;
  margin-top: 0.5rem;
  max-width: 28.5rem;
  padding: 0.44rem 0.5rem;
  font-size: 0.8125rem;
  font-weight: 400;
}

.speech-bubble::before,
.speech-bubble::after {
  content: '';
  position: absolute;
  right: 110px;
}

.speech-bubble::before {
  bottom: 100%;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 18px solid var(--sub-color1);
}

.speech-bubble::after {
  bottom: calc(100% - 2px);
  border-left: calc(8px - 1px) solid transparent;
  border-right: calc(8px - 1px) solid transparent;
  border-bottom: calc(18px - 2px) solid white;
}

.curriculum:has(+ .more-btn:checked) {
  -webkit-line-clamp: unset;
}
