.ql-editor::-webkit-scrollbar {
  width: 0.5rem;
}

.ql-editor::-webkit-scrollbar-track {
  background: #f5f5f5;
}

.ql-editor::-webkit-scrollbar-thumb {
  background: var(--sub-color2);
  border-radius: 0.5rem;
}
