.react-calendar {
  background: #fff;
  color: black;
  width: 231px;
  font-size: 0.75rem;
  background: none;
  line-height: normal;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
}

.react-calendar__month-view__days {
  pointer-events: none;
}

.react-calendar__navigation {
  height: 35px;
  margin-bottom: 0px;
}

.react-calendar__navigation__prev2-button,
.react-calendar__navigation__next2-button {
  display: none;
}

.react-calendar__tile--now {
  background: none;
}

.react-calendar__tile {
  padding: 5px 3px;
}

.react-calendar__month-view__weekdays {
  font-size: 0.75rem;
}

.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none;
}

.react-calendar__month-view__weekdays__weekday:first-of-type {
  color: var(--main-color);
}

.react-calendar__month-view__weekdays__weekday:last-child {
  color: blue;
}

.react-calendar__month-view__days {
  margin-bottom: 5px;
}

.react-calendar__month-view__days__day--weekend {
  color: var(--main-color);
}

.react-calendar__month-view__days
  button:nth-of-type(7n):not(
    .react-calendar__month-view__days__day--neighboringMonth
  ) {
  color: blue;
}

.selected::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: var(--sub-color1);
}

.selected {
  position: relative;
}

.selected abbr {
  position: relative;
  z-index: 10;
  color: white;
}

.selected-continuous {
  background-color: var(--sub-color1);
  color: white;
}

.selected-continuous-first {
  background-color: var(--sub-color1);
  color: white;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.selected-continuous-last {
  background-color: var(--sub-color1);
  color: white;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.react-calendar__month-view__days__day--neighboringMonth {
  background-color: white;
  color: #757575;
}

.react-calendar__tile--now:enabled:hover {
  background: var(--sub-color1);
  color: white;
}
